%h1 Here just rows with records
= link_to 'Add line', new_line_path
%table
  %tr
    %th ID
    %th Content
    %th Created
    %th Operations
  - @lines.each do |line|
    %tr
      %td= line.id
      %td= line.rec
      %td= link_to 'Edit', edit_line_path(line)
      %td= link_to 'Delete', line_path(line), method: :delete
