= link_to 'company data', organization_path(params[:organization_id])
%br/
= link_to 'To companies list', organizations_path
= link_to 'New unit', new_organization_departament_personal_path()
%h5 All unins
- @personals.each do |personal|
  = personal.full_name
  = personal.departament_id
  %br/