%h5 Departaments
= link_to 'Add departament', new_organization_departament_path()
%br/
= link_to 'company data', organization_path(params[:organization_id])
%br/
= link_to 'To companies list', organizations_path
%table.table-bordered
  %tr
    %th Departament id
    %th Departament name
    %th Departament description
    %th Organization id
    %th{:colspan => "3"} Actions
    - @departaments.each do |departament|
      %tr
        %td= departament.id
        %td= departament.departament_name
        %td= departament.departament_description
        %td= departament.organization_id
        %td= link_to 'Edit', edit_organization_departament_path(departament.organization_id, departament.id)
        %td= link_to 'See more', organization_departament_personals_path(departament.organization_id, departament.id)
        %td= link_to 'Delete departament', organization_departament_path(departament.organization_id, departament.id), method: :delete
