.navbar.navbar-default{:role=>"navigation"}>
  .container-fluid
    .navbar-header
      .navbar-brand 
        This all departaments of 
        = organization.name
        company
    .collapse.navbar-collapse
    #bs-example-navbar-collapse-1
    %ul.nav.navbar-nav
      %li= link_to 'ALL COMPANIES', organizations_path()
      %li= link_to 'MY COMPANY', organization_path(id: organization.id)
      %li= link_to 'NEW DEPARTAMENT', new_organization_departament_path(), :type=> "button", :class => "btn btn-default"
%table.table
  %tr
    %th Departament id
    %th Departament name
    %th Departament description
    %th Organization id
    %th{:colspan => "4"} Actions
    - departaments.each do |departament|
      %tr
        %td= departament.id
        %td= departament.departament_name
        %td= departament.departament_description
        %td= departament.organization_id
        %td= link_to 'Units', organization_departament_units_path(departament.organization_id, departament.id)
        %td= link_to 'Details', organization_departament_path(departament.organization_id, departament.id)
        %td= link_to 'Edit', edit_organization_departament_path(departament.organization_id, departament.id)
        %td= link_to 'Delete departament', organization_departament_path(departament.organization_id, departament.id), method: :delete
