.navbar.navbar-default{:role=>"navigation"}>
  .container-fluid
    .navbar-header
      .navbar-brand 
        This all units of 
        = departament.departament_name
        departament
    .collapse.navbar-collapse
    #bs-example-navbar-collapse-1
    %ul.nav.navbar-nav
      %li= link_to 'ALL COMPANIES', organizations_path()
      %li= link_to 'MY COMPANY', organization_path(id: organization.id)
      %li= link_to 'DEPARTAMENTS', organization_departaments_path()
      %li= link_to 'ADD UNIT', new_organization_departament_unit_path(), :type=> "button", :class => "btn btn-default"
%table.table
  %tr
    %th Unit name
    %th{:colspan=>"3"} Action
  - units.each do |unit|
    %tr
      %td= unit.full_name
      %td= link_to 'detail', organization_departament_unit_path(id: unit.id)
      %td= link_to 'edit', edit_organization_departament_unit_path(id: unit.id)
      %td= link_to 'destroy', organization_departament_unit_path(id: unit.id), method: :delete
/ = render "1.html.erb"
