%h2 Here is all companies
= link_to 'Back to line', lines_path
= link_to 'Add company', new_organization_path
%table.table.table-hover
  %tr
    %th Name
    %th Address
    %th Phone
    %th E_mail
    %th Action
    - @organizations.each do |organization|
      %tr
        %td= link_to organization.name, organization_path(organization)
        %td= organization.address
        %td= organization.phone
        %td= organization.email
        %td= link_to 'edit', edit_organization_path(organization)
        %td= link_to 'Remove', organization_path(organization), method: :delete
