.row
  .col-md-8
    = link_to 'Back to line', lines_path
    = link_to 'Add company', new_organization_path
    %form.navbar-form.navbar-left{:role => "search"}
      .form-group
        %input.form-control{:placeholder => "Search the company", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Submit
  .col-md-4
    .page-header
      %h3 Try create contact book with rails
      %small using rails and bootstrap
.row
  .col-md-4
    .panel.panel-success
      .panel-heading
        %h4 Here is all companies
      %ul.list-group
      - @organizations.each do |organization|
        %li.list-group-item
          = link_to 'Remove', organization_path(organization), method: :delete, :class => 'btn btn-danger'
          = link_to 'edit', edit_organization_path(organization), :class => 'btn btn-warning'
          = link_to organization.name, organization_path(organization), :class => 'btn btn-success'
  .col-md-8
