= bootstrap_form_for :organization, url: organizations_path do |f|
  = f.label :name
  = f.text_field :name
  = f.label :address
  = f.text_field :address
  = f.label :phome
  = f.text_field :phone
  = f.label :email
  = f.text_field :email
  = f.submit
