%h5 Company info
= organization.name
= organization.address
= organization.phone
= organization.email
%br/
= link_to 'To companies list', organizations_path
%br/
= link_to 'Depataments',organization_departaments_path(organization)
