.navbar.navbar-default{:role=>"navigation"}>
  .container-fluid
    .navbar-header
      .navbar-brand 
        Contact information of
        = organization.name
        company
    .collapse.navbar-collapse
    #bs-example-navbar-collapse-1
    %ul.nav.navbar-nav
      %li= link_to 'ALL COMPANIES', organizations_path()
      %li= link_to 'DEPARTAMENTS', organization_departaments_path(organization)
= organization.name
= organization.address
= organization.phone
= organization.email
