%h3 Company info
= @organization.name
= @organization.address
= @organization.phone
= @organization.email
= link_to 'To companies list', organizations_path
= bootstrap_form_for ([@organization, @organization.departaments.build]) do |f|
  = f.text_field :departament_name
  = f.text_area :departament_description
  = f.submit
%h4 List of departaments
%dl
  - @organization.departaments.each do |departament|
    %dt= departament.departament_name
    %dd= departament.id
    = departament.departament_description
    = link_to 'Edit', edit_organization_departament_path([@organization, @organization])