%h3 Company info
= @organization.name
= @organization.address
= @organization.phone
= @organization.email
= link_to 'To companies list', organizations_path
= link_to 'New departament', new_organization_departament_path(organization_id: @organization.id)
%h4 List of departaments
- @organization.departaments.each do |departament|
  %h5= departament.departament_name
  %b= link_to 'See more', edit_organization_departament_path(organization_id: @organization.id, id: departament.id)
  %br/
  %b= link_to 'Edit', edit_organization_departament_path(organization_id: @organization.id, id: departament.id)
  %i= link_to 'Delete departament', organization_departament_path(organization_id: @organization.id, id: departament.id), method: :delete
  %p= departament.departament_description


